<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beauty Lounge</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" type="text/css">
</head>
<body>

<div class="container-fluid row col-8">
    <div>
        <h3>Beauty Lounge</h3>
    </div>

    <div class="row col-6">
        <table class="table table-bordered table-striped">
            <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Category</th>
            <th>Texture</th>
            <th>Quantity</th>
            <th>Price</th>
            </thead>
            <tbody>
            <tr th:each="ochi : ${ochiList}">
                <td th:text="${ochi.id}"/>
                <td th:text="${ochi.name}"/>
                <td th:text="${ochi.category}"/>
                <td th:text="${ochi.texture}"/>
                <td th:text="${ochi.quantity}"/>
                <td th:text="${ochi.price}"/>
            </tr>
            <tr th:each="ten :${tenList}">
                <td th:text="${ten.id}"/>
                <td th:text="${ten.name}"/>
                <td th:text="${ten.category}"/>
                <td th:text="${ten.texture}"/>
                <td th:text="${ten.quantity}"/>
                <td th:text="${ten.price}"/>
            </tr>

            </tbody>
        </table>
    </div>

</div>
<div class="row col-6">
    <form th:action="@{/homeForProducts}" method="get">
        <button type="submit">Go Home</button>
    </form>
</div>

</body>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"/>
</html>