<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Beauty Lounge</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" type="text/css">
</head>
<body>

<div class="container-fluid row col-8">
    <div>
        <h3>Beauty Lounge</h3>
    </div>

    <div>
        <h1>Eye Products</h1>
    </div>
    <div class="row col-6">
        <table class="table table-bordered table-striped">
            <thead>
            <th>Name</th>
            <th>Brand Name</th>
            <th>Texture</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Edit</th>
            <th>Delete</th>
            </thead>
            <tbody>
            <tr th:each="eye : ${eyeList}">
                <td th:text="${eye.name}"/>
                <td th:text="${eye.getBrandName()}"></td>
                <td th:text="${eye.texture}"/>
                <td th:text="${eye.quantity}"/>
                <td th:text="${eye.price}"/>
                <td>
                    <form th:action="@{/editEye/{id}(id=${eye.id})}" method="get">
                        <button type="submit">Edit</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{/deleteEye/{id}(id=${eye.id})}" method="get">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <h1>Skin Products</h1>
    </div>
    <div class="row col-6">
        <table class="table table-bordered table-striped">
            <thead>
            <th>Name</th>
            <th>Brand Name</th>
            <th>Texture</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Edit</th>
            <th>Delete</th>
            </thead>
            <tbody>
            <tr th:each="skin : ${skinList}">
                <td th:text="${skin.name}"></td>
                <td th:text="${skin.getBrandName()}"></td>
                <td th:text="${skin.texture}"></td>
                <td th:text="${skin.quantity}"></td>
                <td th:text="${skin.price}"></td>
                <td>
                    <form th:action="@{/editSkin/{id}(id=${skin.id})}" method="get">
                        <button type="submit">Edit</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{/deleteSkin/{id}(id=${skin.id})}" method="get">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <div>
        <h1>Lip Products</h1>
    </div>
    <div class="row col-6">
        <table class="table table-bordered table-striped">
            <thead>
            <th>Name</th>
            <th>Brand Name</th>
            <th>Texture</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Edit</th>
            <th>Delete</th>
            </thead>
            <tbody>
            <tr th:each="lips : ${lipsList}">
                <td th:text="${lips.name}"></td>
                <td th:text="${lips.getBrandName()}"></td>
                <td th:text="${lips.texture}"></td>
                <td th:text="${lips.quantity}"></td>
                <td th:text="${lips.price}"></td>
                <td>
                    <form th:action="@{/editLips/{id}(id=${lips.id})}" method="get">
                        <button type="submit">Edit</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{/deleteLips/{id}(id=${lips.id})}" method="get">
                        <button type="submit">Delete</button>
                    </form>
                </td>

            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <h1>Eyebrow Products</h1>
    </div>
    <div class="row col-6">
        <table class="table table-bordered table-striped">
            <thead>
            <th>Name</th>
            <th>Brand Name</th>
            <th>Texture</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Edit</th>
            <th>Delete</th>
            </thead>
            <tbody>
            <tr th:each="eyebrows : ${eyebrowsList}">
                <td th:text="${eyebrows.name}"></td>
                <td th:text="${eyebrows.getBrandName()}"></td>
                <td th:text="${eyebrows.texture}"></td>
                <td th:text="${eyebrows.quantity}"></td>
                <td th:text="${eyebrows.price}"></td>
                <td>
                    <form th:action="@{/editEyebrows/{id}(id=${eyebrows.id})}" method="get">
                        <button type="submit">Edit</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{/deleteEyebrows/{id}(id=${eyebrows.id})}" method="get">
                        <button type="submit">Delete</button>
                    </form>
                </td>

            </tr>
            </tbody>
        </table>
    </div>



</div>
<div class="row col-6">
    <form th:action="@{/homeForProducts}" method="get">
        <button type="submit">Go Home</button>
    </form>
</div>

</body>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"/>
</html>
