<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Edit eye form</title>
  <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" type="text/css">
</head>
<body>
<div class="container mt-5">
  <h1>Edit eye products</h1>

  <form th:action="@{/updateOchi/{id}(id=${ochi.id})}" method="post">
    <input type="hidden" th:field="*{ochi.id}"/>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" th:field="*{ochi.name}"/>
    </div>
    <div class="form-group">
      <label for="quantity">Quantity:</label>
      <input type="number" class="form-control" th:field="*{ochi.quantity}"/>
    </div>
    <div class="form-group">
      <label for="texture">Texture:</label>
      <select type="text" class="form-control" th:field="*{ochi.texture}"/>
      <option value="mousse">Mousse</option>
      <option value="liquid">Liquid</option>
      <option value="creamy">Creamy</option>
      <option value="powder">Powder</option>
      </select>
    </div>
    <div class="form-group">
      <label for="price">Price:</label>
      <input type="number" class="form-control" th:field="*{ochi.price}"/>
    </div>
    <input type="submit" class="btn btn-primary" value="Save"/>
  </form>
</div>
</body>
</html>
