<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
      <html lang="en">
      <head>
      <meta charset="UTF-8">
      <title>Ten </title>
  <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" type="text/css">
</head>
<body>

<div class="container-fluid row col-8">

  <div>
    <h3>Eyebrow products overview</h3>
  </div>
  <div class="row col-6">
    <table class="table table-bordered table-striped">
      <thead>
      <th>Name</th>
      <th>Brand ID</th>
      <th>Brand Name</th>
      <th>Texture</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Edit</th>
      <th>Delete</th>
      </thead>
      <tbody>
      <tr th:each="eyebrows : ${eyebrowsList}">
        <td th:text="${eyebrows.name}"></td>
        <td th:text="${eyebrows.brandId}"></td>
        <td th:text="${eyebrows.brand_name}"></td>
        <td th:text="${eyebrows.texture}"></td>
        <td th:text="${eyebrows.quantity}"></td>
        <td th:text="${eyebrows.price}"></td>
        <td>
          <form th:action="@{/editEyebrows/{id}(id=${eyebrows.id})}" method="get">
            <button type="submit">Edit</button>
          </form>
        </td>
        <td>
          <form th:action="@{/deleteEyebrows/{id}(id=${eyebrows.id})}" method="get">
            <button type="submit">Delete</button>
          </form>
        </td>

      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row col-6">
  <form th:action="@{/homeForEyebrows}" method="get">
    <button type="submit">Go Home</button>
  </form>
</div>
</body>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"/>
</html></title>
</head>
<body>

</body>
</html>