<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
      <html lang="en">
      <head>
      <meta charset="UTF-8">
      <title>Ten Form</title>
  <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" type="text/css">

</head>
<body>

<div class="container-fluid">

  <div>
    <h3>Create a eyebrows product</h3>
  </div>

  <form action="#" method="post" th:action="@{/submitEyebrows}" th:object="${eyebrows}">
    <div class="row col-lg-12">
      <div class="form-group row">
        <label class="col-12 col-form-label" for="name">Name:</label>
        <div>
          <input class="form-control" th:field="${eyebrows.name}" type="text">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-12 col-form-label" for="brand_id">Brand ID:</label>
        <div>
          <select class="form-control" th:field="*{eyebrows.brand_id}">
            <option value="123">123</option>
            <option value="124">124</option>
            <option value="125">125</option>
            <option value="126">126</option>
            <option value="127">127</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-12 col-form-label" for="texture">Texture:</label>
        <div>
          <select class="form-control" th:field="${eyebrows.texture}" type="text">
            <option value="mousse">Mousse</option>
            <option value="liquid">Liquid</option>
            <option value="creamy">Creamy</option>
            <option value="powder">Powder</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-12 col-form-label" for="quantity">Quantity:</label>
        <div>
          <input class="form-control" th:field="${eyebrows.quantity}" type="text">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-12 col-form-label" for="price">Price:</label>
        <div>
          <input class="form-control" th:field="${eyebrows.price}" type="text">
        </div>
      </div>

      <div class="form-group row">
        <button class="btn btn-primary" type="submit">
          Submit
        </button>
      </div>

    </div>

  </form>

</div>

</body>

<script th:src="@{/bootstrap/js/bootstrap.min.js}"/>

</html></title>
</head>
<body>

</body>
</html>