<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Employee Overview</title>
  <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" type="text/css">
</head>
<body>

<div class="container-fluid row col-8">

  <div>
    <h3>Eye products overview</h3>
  </div>

  <div class="row col-6">
    <table class="table table-bordered table-striped">
      <thead>
      <th>Name</th>
      <th>Texture</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Edit</th>
      <th>Delete</th>
      </thead>
      <tbody>
      <tr th:each="eye : ${eyeList}">
        <td th:text="${eye.name}"/>
        <td th:text="${eye.texture}"/>
        <td th:text="${eye.quantity}"/>
        <td th:text="${eye.price}"/>
        <td>
          <form th:action="@{/editEye/{id}(id=${eye.id})}" method="get">
            <button type="submit">Edit</button>
          </form>
        </td>
        <td>
          <form th:action="@{/deleteEye/{id}(id=${eye.id})}" method="get">
            <button type="submit">Delete</button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
  <div class="row col-6">
    <form th:action="@{/homeForEye}" method="get">
      <button type="submit">Go Home</button>
    </form>
  </div>


</body>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"/>
</html>