<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ten Form</title>
  <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" type="text/css">

</head>
<body>

<div class="container-fluid">

  <div>
    <h3>Create a lips Product</h3>
  </div>

  <form action="#" method="post" th:action="@{/submitLips}" th:object="${lips}">
    <div class="row col-lg-12">
      <div class="form-group row">
        <label class="col-12 col-form-label" for="name">Name:</label>
        <div>
          <input class="form-control" th:field="${lips.name}" type="text">
        </div>
      </div>


      <div class="form-group row">
        <label class="col-12 col-form-label" for="texture">Texture:</label>
        <div>
          <select class="form-control" th:field="${lips.texture}" type="text">
            <option value="mouse">Mouse</option>
            <option value="liquid">Liquid</option>
            <option value="creamy">Creamy</option>
            <option value="spray">Spray</option>
            <option value="powder">Powder</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-12 col-form-label" for="quantity">Quantity:</label>
        <div>
          <input class="form-control" th:field="${lips.quantity}" type="text">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-12 col-form-label" for="price">Price:</label>
        <div>
          <input class="form-control" th:field="${lips.price}" type="text">
        </div>
      </div>

      <div class="form-group row">
        <button class="btn btn-primary" type="submit">
          Submit
        </button>
      </div>

    </div>

  </form>

</div>

</body>

<script th:src="@{/bootstrap/js/bootstrap.min.js}"/>

</html>