<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<br>
<span th:text="${message}"/>
<br>

<div>
    <table>
        <thread>
            <td>Id</td>
            <td>Name</td>
            <td>Quantity</td>
            <td>Texture</td>
            <td>Price</td>

        </thread>
        <tbody>
        <tr th:each="products : ${arrayOfProducts}">
            <td th:text="${products.id}"></td>
            <td th:text="${products.name}"></td>
            <td th:text="${products.quantity}"></td>
            <td th:text="${products.texture}"></td>
            <td th:text="${products.price}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>