<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ochi Form</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" type="text/css">

</head>
<body>

<div class="container-fluid">

    <div>
        <h3>Create a new eye product</h3>
    </div>

    <form action="#" method="post" th:action="@{/submitOchi}" th:object="${ochi}">

        <div class="row col-lg-12">
            <div class="form-group row">
                <label class="col-12 col-form-label" for="name">Name:</label>
                <div>
                    <input class="form-control" th:field="${ochi.name}" type="text">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-12 col-form-label" for="quantity">Price:</label>
                <div>
                    <input class="form-control" th:field="${ochi.price}" type="text">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-12 col-form-label" for="texture">Texture:</label>
                <div>
                    <input class="form-control" th:field="${ochi.texture}" type="text">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-12 col-form-label" for="price">Price:</label>
                <div>
                    <input class="form-control" th:field="${ochi.price}" type="text">
                </div>
            </div>

            <div class="form-group row">
                <button class="btn btn-primary" type="submit">
                    Submit
                </button>
            </div>

        </div>

    </form>

</div>

</body>

<script th:src="@{/bootstrap/js/bootstrap.min.js}"/>

</html>